<template>
  <div class="products">
    <table>
       <thead>
        <th> Identifiant </th>
        <th> Libelle </th>
        <th> Cout </th>

      </thead>
      <tbody>
       <template v-for="composant in composants">
          <tr v-bind:key="composant.id">
              <td> {{composant.id}} </td>
              <td> {{composant.libelle}} </td>
              <td> {{composant.cout}} </td>
          </tr> 
        
       </template>
        </tbody>
    </table>
  </div>
</template>

<script>
import axios from "axios";
import "babel-polyfill";

export default {
  name: "Composants",
  data: function() {
    return {
      composants: {}
    };
  },
  created: async function() {
    await axios
      .get("http://127.0.0.1:8000/api/composants")
      .then(res => (this.composants = res.data['hydra:member']))
      .catch(error => console.log(error));
  }
};
</script>


<style>

.products h1 {

  text-align: center;

}

.products table {

  margin: 0 auto;

  border: solid 2px #42B983;

  border-radius: 3px;

  text-align: center;

}

.products th {

  background-color: #42B983;

}

.products td {

  background-color: #F9F9F9;

}

.products th, .products td {

  min-with: 120px;

  padding: 10px 20px;

}

</style>