<template>
    <div class="container">
    
        <div class="container-fluid col-md-12">
            <h2>Bienvenue sur votre Espace</h2>
        </div>
    
        <div class="container">
            <div class="card card-login mx-auto text-center bg-dark">
                <div class="card-header mx-auto bg-dark">
    
                </div>
                <div class="card-body">
                    <form action="http://127.0.0.1:8000/login" method="post">
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><font-awesome-icon icon="user" /></span>
                            </div>
                            <input type="text" name="_username" class="form-control" placeholder="Utilisateur">
                        </div>
    
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><font-awesome-icon icon="user-secret" /></i></span>
                            </div>
                            <input type="password" name="_password" class="form-control" placeholder="Mot de passe">
                        </div>
    
                        <div class="form-group">
                            <input type="submit" name="btn" value="Login" class="btn btn-outline-danger float-right login_btn">
                        </div>
    
                    </form>
                </div>
            </div>
        </div>
    
    
    
    </div>
</template>

<script>
// @ is an alias to /src

export default {
    name: "home",

};
</script>

<style scoped>
body {
    background: #000 !important;
}

.card {
    border: 1px solid #28a745;
}

.card-login {
    margin-top: 130px;
    padding: 18px;
    max-width: 30rem;
}

.card-header {
    color: #fff;
    /*background: #ff0000;*/
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 600 !important;
    margin-top: 10px;
    border-bottom: 0;
}

.input-group-prepend span {
    width: 50px;
    background-color: #000;
    color: #fff;
    opacity: 0.2;
    border: 0 !important;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}

.login_btn {
    width: 130px;
}

.login_btn:hover {
    color: #fff;
    background-color: #ff0000;
}

.btn-outline-danger {
    color: #fff;
    font-size: 18px;
    background-color: #28a745;
    background-image: none;
    border-color: #28a745;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1.2rem;
    line-height: 1.6;
    color: #28a745;
    background-color: transparent;
    background-clip: padding-box;
    border: 1px solid #28a745;
    border-radius: 0;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-group-text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.375rem 0.75rem;
    margin-bottom: 0;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.6;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 0;
}
</style>