<template>
    <div class="products">
        <table>
            <thead>
                <th> Identifiant </th>
                <th> Nom </th>
                <th> Nombre </th>
                <th> Cat&eacute;gorie </th>
                <th> Actions </th>
    
    
            </thead>
            <tbody>
                <template v-for="bird in birds">
              <tr v-bind:key="bird.id">
                  <td> {{bird.id}} </td>
                  <td> {{bird.nom}} </td>
                  <td> <Counter :start="parseInt(bird.nbr)" :idOiseau="bird.id"/> </td>
    
                  <template v-for="categorie in bird.categories">
                     <td>{{categorie}}</td>
</template>

              <td>
              <div class="row">
                 <DeleteBird :idOiseau="bird.id"/>
                 </div> 
              </td>

          </tr> 
        
       </template>
        </tbody>
    </table>
     <div class="container-fluid">
         <AddBird />
     </div>
  </div>
</template>

<script>
import axios from "axios";
import "babel-polyfill";
import Counter from "../components/Counter.vue";
import DeleteBird from "../components/DeleteBird.vue";
import AddBird from "../components/AddBird.vue"

export default {
    name: "Produits",

    components: { Counter, DeleteBird, AddBird },
    data: function() {
        return {
            birds: {}
        };
    },

    created: async function() {
        await axios
            .get("http://127.0.0.1:8000/api/birds")
            .then(res => (this.birds = res.data['hydra:member']))
            .catch(error => console.log(error));

    }
};
</script>


<style>
.products h1 {
    text-align: center;
}

.products table {
    margin: 0 auto;
    border: solid 2px #42B983;
    border-radius: 3px;
    text-align: center;
}

.products th {
    background-color: #42B983;
}

.products td {
    background-color: #F9F9F9;
}

.products th,
.products td {
    min-with: 120px;
    padding: 10px 20px;
}
</style>