<template>
    <div id="addBird">
    
        <br>
        <div class="d-flex justify-content-center container-fluid" id="addBirdContainer">
            <div class="col-md-4">
    
                <h4 class="page-header">Ajouter un oiseau </h4>
                <br>
                <form role="form" @submit="addBird" >
                    <div class="form-group float-label-control">
                        <label for="">Nom</label>
                        <input type="nom" class="form-control" placeholder="" ref="nom" >
                    </div>
                    <div class="form-group float-label-control">
                        <label for="">Nombre</label>
                        <input type="number" class="form-control" ref="nombre" >
                    </div>
                    <div class="form-group float-label-control">
                        <label for="">Cat&eacute;gorie</label>
                        <br>
                        <select @change="getSelectedValue" class="form-control" ref="categorie" >
                            <option value ="">Veuillez Choisir..</option>
                            <template v-for="categorie in categories">

                            <option :value=parseInt(categorie.id)>{{categorie.libelle}}</option>

   
                            </template>
                        </select>
                        <br>
                    <input type="submit" value="Ajouter Produit"></input>
                    </div>
                </form>
    
            </div>
        </div>
    </div>
</template>

<script>
import axios from "axios";
import "babel-polyfill";
export default {

    props: {

    },
    name: 'AddBird',

    data: function() {
        return {

          categories: {},
          categorieToAdd: {},
          idCategorie : ""

        }
    },

    methods: {

      addBird (){

        axios
            .post("http://127.0.0.1:8000/api/birds", { "nom" : this.$refs.nom.value, "nbr" : parseInt(this.$refs.nombre.value), "categories" : [("/api/categories/"+this.idCategorie)]})
            .catch(error => console.log(error));

      },

      getSelectedValue (e) {

        this.idCategorie = e.target.options[e.target.selectedIndex].value;


      }

    },
    created: function() {
       axios
            .get("http://127.0.0.1:8000/api/categories")
            .then(res => (this.categories = res.data['hydra:member']))
            .catch(error => console.log(error));

    }


}
</script>

<style scoped>
.float-label-control {
    position: relative;
    margin-bottom: 1.5em;
}

.float-label-control ::-webkit-input-placeholder {
    color: transparent;
}

.float-label-control :-moz-placeholder {
    color: transparent;
}

.float-label-control ::-moz-placeholder {
    color: transparent;
}

.float-label-control :-ms-input-placeholder {
    color: transparent;
}

.float-label-control input:-webkit-autofill,
.float-label-control textarea:-webkit-autofill {
    background-color: transparent !important;
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    -moz-box-shadow: 0 0 0 1000px white inset !important;
    box-shadow: 0 0 0 1000px white inset !important;
}

.float-label-control input,
.float-label-control textarea,
.float-label-control label {
    font-size: 1em;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.float-label-control input:focus,
.float-label-control textarea:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
    border-bottom-width: 2px;
    padding-bottom: 0;
}

.float-label-control textarea:focus {
    padding-bottom: 4px;
}

.float-label-control input,
.float-label-control textarea {
    display: block;
    width: 100%;
    padding: 0.1em 0em 1px 0em;
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid #aaa;
    outline: none;
    margin: 0px;
    background: none;
}

.float-label-control textarea {
    padding: 0.1em 0em 5px 0em;
}

.float-label-control label {
    position: absolute;
    font-weight: normal;
    top: 0.5em;
    left: 0.08em;
    color: #aaaaaa;
    z-index: -1;
    font-size: 0.75em;
    -moz-animation: float-labels 300ms none ease-out;
    -webkit-animation: float-labels 300ms none ease-out;
    -o-animation: float-labels 300ms none ease-out;
    -ms-animation: float-labels 300ms none ease-out;
    -khtml-animation: float-labels 300ms none ease-out;
    animation: float-labels 300ms none ease-out;
    /* There is a bug sometimes pausing the animation. This avoids that.*/
    animation-play-state: running !important;
    -webkit-animation-play-state: running !important;
}

.float-label-control input.empty+label,
.float-label-control textarea.empty+label {
    top: 0.1em;
    font-size: 1.5em;
    animation: none;
    -webkit-animation: none;
}

.float-label-control input:not(.empty)+label,
.float-label-control textarea:not(.empty)+label {
    z-index: 1;
}

.float-label-control input:not(.empty):focus+label,
.float-label-control textarea:not(.empty):focus+label {
    color: #aaaaaa;
}

.float-label-control.label-bottom label {
    -moz-animation: float-labels-bottom 300ms none ease-out;
    -webkit-animation: float-labels-bottom 300ms none ease-out;
    -o-animation: float-labels-bottom 300ms none ease-out;
    -ms-animation: float-labels-bottom 300ms none ease-out;
    -khtml-animation: float-labels-bottom 300ms none ease-out;
    animation: float-labels-bottom 300ms none ease-out;
}

.float-label-control.label-bottom input:not(.empty)+label,
.float-label-control.label-bottom textarea:not(.empty)+label {
    top: 3em;
}

.float-label-control selectarea:-webkit-autofill {
    background-color: transparent !important;
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    -moz-box-shadow: 0 0 0 1000px white inset !important;
    box-shadow: 0 0 0 1000px white inset !important;
}

@keyframes float-labels {
    0% {
        opacity: 1;
        color: #aaa;
        top: 0.1em;
        font-size: 1.5em;
    }
    20% {
        font-size: 1.5em;
        opacity: 0;
    }
    30% {
        top: 0.1em;
    }
    50% {
        opacity: 0;
        font-size: 0.85em;
    }
    100% {
        top: -1em;
        opacity: 1;
    }
}

@-webkit-keyframes float-labels {
    0% {
        opacity: 1;
        color: #aaa;
        top: 0.1em;
        font-size: 1.5em;
    }
    20% {
        font-size: 1.5em;
        opacity: 0;
    }
    30% {
        top: 0.1em;
    }
    50% {
        opacity: 0;
        font-size: 0.85em;
    }
    100% {
        top: -1em;
        opacity: 1;
    }
}

@keyframes float-labels-bottom {
    0% {
        opacity: 1;
        color: #aaa;
        top: 0.1em;
        font-size: 1.5em;
    }
    20% {
        font-size: 1.5em;
        opacity: 0;
    }
    30% {
        top: 0.1em;
    }
    50% {
        opacity: 0;
        font-size: 0.85em;
    }
    100% {
        top: 3em;
        opacity: 1;
    }
}

@-webkit-keyframes float-labels-bottom {
    0% {
        opacity: 1;
        color: #aaa;
        top: 0.1em;
        font-size: 1.5em;
    }
    20% {
        font-size: 1.5em;
        opacity: 0;
    }
    30% {
        top: 0.1em;
    }
    50% {
        opacity: 0;
        font-size: 0.85em;
    }
    100% {
        top: 3em;
        opacity: 1;
    }
}

#addBirdContainer {
    border: 1px solid grey;
    width: 700px;
    padding: 10px
}
</style>