<template>
  <div>
    <button @click="decrement">-</button>
    <a>{{count}}</a>
    <button @click="increment">+</button>
  </div>
</template>

<script>
import axios from "axios";
import "babel-polyfill";
export default {

    props: {
        start: { type: Number, default: 0 },
        value: { type: String, default: null },
        idOiseau: {type: Number, default: null}
        
  },
  name: 'Counter',

  data: function () {
    return {
      count: 0,
      name: this.name,
    }
  },

  methods: {
    increment () {
      this.count++

      axios
      .put("http://127.0.0.1:8000/api/birds/"+this.idOiseau.toString() , {"nbr" : this.count} )
      .catch(error => console.log(error));

    },

    decrement () {
      this.count--
      axios
      .put("http://127.0.0.1:8000/api/birds/"+this.idOiseau.toString() , {"nbr" : this.count} )
      .catch(error => console.log(error));

    },
    
  },

  mounted: function () {
    this.count = this.start
  }
}
</script>