<template>
  <div>
     <button @click="deleteBird"> x </button>
  </div>
</template>

<script>
import axios from "axios";
import "babel-polyfill";
export default {

    props: {

      idOiseau: {type: Number, default: null}
  },
  name: 'DeleteBird',

  data: function () {
    return {
 
    }
  },

  methods: {

    deleteBird () {
      axios
      .delete("http://127.0.0.1:8000/api/birds/"+this.idOiseau.toString())
      .catch(error => console.log(error));

     this.$router.go(0);
    }

  },

  mounted: function () {
  }
}
</script>